
    
* {
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family: Arial;

}
#navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

.nav_logo {
    height: 50px;
    width: 112px;
    align-items: center;
}
}
.logo {
    background-image: url(images/amzlogo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
}
.border {
    background: 1px solid transparent;
    margin: 3px;
}
.border:hover {
    border: 2px solid white
}

.nav_add {
    display: flex;
    height: 60px;
    width: 100%;
    
}

.del {
    font-size: 0.8rem;
    color: #cccccc;
    padding-top: 10px;
    margin-left: 14px;
    margin-right: 5px;
}

.add-primary {
    display: flex;
    font-size: 1rem;
    color: #ffffff;

    
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;       
}
.nav-search:hover {
    border: 2px solid orange;
}
.options {
    width: 50px;
    background-color: #f3f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    border: none;
}
.search {
    width: 100%;
    font-size: 1rem;
    border: none;
    border: #cccccc;
}
.searchbutton {
    background-color: rgb(236, 170, 57) ;
    width: 40px;
    font-size: 1.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
    
}
.nav-singin {
    padding: 3px;
}    
.nav-return {
    padding: 8px;
}
.hello {
    font-size: 0.7rem;
}
.accountoptions{
    display:flex;
}
.account {
    font-size: 0.8rem;
    font-weight: 700;
}
.myoption {
    height: 0.8rem;
    width: rem;
    color:#f3f3f3e0;
    background-color: #0f1111;
    border: none;
    
}
.cartsitem {
    display:flex;
    font-size: xx-large;
    padding: 5px;
}
.cartslist {
    font-size: medium;
    font-weight: 700;
    display: flex;
    align-self: flex-end;}
.allpanel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #0f1111f2;
    color:white;

}
.all-options p {
  display: inline;
  margin-left: 15px;
  
}
.allmenu {
    margin-left: 20px;
}
.all-options {
    width: 90%;
    font-size: .85rem;
    padding-left: 15px;
}
.contentsection {
    background-image: url(images/amazonhomepage.jpg);
    background-size: cover;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.contentmsg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom:26px;

}
.contentmsg a {
    color: rgba(72, 72, 180, 0.675);
}
.shopsection {
    
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(96, 96, 161, 0.505);
    
}
.box {
    
    background-color: rgba(255, 255, 255, 0.788);
    height: 380px;
    width: 22%;
    margin-top: 15px;
    margin-bottom: 15PX;
    font-size: 10px;
}
.shopimage {
   
    background-size: cover;
    height:290px;
    margin-top:8px;
    margin-bottom:8px;
}
.boxcontent {
   
   margin-left: 1rem;
   margin-right: 1rem;
   margin-top: 1rem;
}
.boxcontent p {
    font-size:15px;
}
.beautysection {
    height: 380px;
    
}
.shopsection2 {
    display: flex;
    justify-content: space-around;
    background-color:rgba(96, 96, 161, 0.505);
    padding-left: 32px;
    padding-right: 32px;

}

.imgbox {
   
    height: 300px;
    width: 100%;
    margin-bottom: 15PX;
    font-size: 15px;
    background-color:rgba(255, 255, 255, 0.944);
}

.shopimg2 {
   
    height: 250px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px ;
}
.pen {
    background-color:rgba(96, 96, 161, 0.505); 
}
.pen p {
    background-color:rgba(255, 255, 255, 0.941);
    font-size: x-large;
    padding-top: 10px;
    padding-left: 40px;
    margin-left: 32px;
    margin-right: 32px;
}
.shopsection3 {
    display: flex;
    justify-content: space-around;
    background-color:rgba(96, 96, 161, 0.505);
    padding-left: 32px;
    padding-right: 32px;

}
.personalised {
    height: 150px;
    background-color:rgba(255, 255, 255, 0.645)
}
.p_section {
    font-size: 13PX;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid rgba(128, 128, 128, 0.49);
    padding-top: 20px;
    padding-bottom: 20px;
   
    
    
}
.p_section button {
    font-weight: 700;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(230, 165, 13, 0.714);
    border: 2px solid  rgba(230, 165, 13, 0.714);;
}
.p_section span {
    font-size: 10px;
    color: rgba(38, 160, 38, 0.575);
}
.footersection {
    text-align: center;
    padding: 20px;
    background-color: #232f3e;
}
.footersection a {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}